@import "base.css";
@import "bootstrap.min.css";

.pageHeader{
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 2;
}

.pageHeader .navbar-brand{
    font-size: 35px;
    margin: 5px;
}

.pageHeader .navbar-brand .slogan{
    font-size: 12px;
    display: inline;
}

.pageHeader .headerTabs{
    display: inline-block;
}

.pageHeader ul{
    margin: 15px;
}

.pageHeader li{
    list-style-type: none;
    display: inline;
    padding: 0 15px;
}

.pageHeader li a{
    font-size: 24px;
}

.pageMainContent{
    padding-top: 60px;
}

.pageMainContent .carousel{
    height: 550px;
    overflow-y: hidden;
}