@import "base.css";
@import "bootstrap.min.css";

.pageHeader{
    width: 100%;
    height: 75px;
    padding: 0 150px;
    margin: 0;
    background-color: #ffffff;
    position: fixed;
    z-index: 2;
    -webkit-box-shadow: 0 6px 6px -1px #5a5a5a;
    -moz-box-shadow: 0 6px 6px -1px #5a5a5a;
    box-shadow: 0 6px 6px -1px #5a5a5a;
}

.pageHeader .headerContainer{
    width: 1100px;
    margin: 0 auto;
}

.pageHeader .navbar-brand{
    font-size: 35px;
    margin: 10px 25px;
    padding: 0;
}

.pageHeader .headerTabs{
    display: inline-block;
}

.pageHeader ul{
    margin: 25px 25px 25px 0;
}

.pageHeader li{
    list-style-type: none;
    display: inline;
    padding: 0 15px;
}

.pageHeader li a{
    font-size: 24px;
}

.pageHeader li a:hover{
    text-decoration: none;
    color: #8AC007;
}

.pageMainContent{
    padding-top: 60px;
}

.pageMainContent .carousel{
    height: 550px;
    overflow-y: hidden;
}

.pageMainContent .memoContainer{
    width: 1100px;
    height: 372px;
    padding: 14px;
    margin: 0 auto;
}

.pageMainContent .memoSection{
    width: 33%;
    padding: 15px;
    display: inline;
    text-align: center;
    float: left;
}

.pageMainContent .memoSection img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    -moz-box-shadow:    inset 0 0 10px #5a5a5a;
    -webkit-box-shadow: inset 0 0 10px #5a5a5a;
    box-shadow: inset 0 0 10px #5a5a5a;
}

.pageFooter{
    margin: 40px;
    padding: 40px;
}

.pageFooter .footerContainer{
    width: 1100px;
    margin: 0 auto;
}

.pageFooter .footerContainer .legals{
    float: left;
}

.pageFooter .footerContainer .navigation{
    float: right;
}

