<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="css/start.css"/>
</head>
<body>
<div class="pageHeader page-header">
    <img src="img/Logo.png" alt="Logo" title="Traveling Stops" class="logo" width="116" height="100"/>
    <div>
        <ul>
            <li class="nav-tabs">
                <a href="#">One</a>
            </li>
            <li class="nav-tabs">
                <a href="#">Two</a>
            </li>
            <li class="nav-tabs">
                <a href="#">Three</a>
            </li>
            <li class="nav-tabs">
                <a href="#">Four</a>
            </li>
        </ul>
    </div>
</div>
<div class="pageMainContent">
    <div ng-app="carouselApp" ng-controller="homeCarousel">
        <div>
            <carousel class="carousel" interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img class="carousel-inner" ng-src="{{slide.image}}">
                    <div class="carousel-caption">
                        <p>{{slide.name}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <div ng-app="startApp" ng-controller="startController" class="wrapperNode">
        <script type="text/ng-template" id="start.html">
            <div class="modal-header">
                <h3 class="modal-title">Login</h3>
            </div>
            <div class="modal-body">
                <label class="label label-default" value="">User name:</label>
                <input type="text" class="input-lg" ng-modal="username">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
        <button class="btn btn-default btn-lg startButton" ng-click="open()">Let's Start！</button>
    </div>
</div>
<div class="pageFooter"></div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
<script src="js/carousel.js"></script>
<script src="js/start.js"></script>
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</body>
</html>
